{% extends "base.html" %}

{% block title %}lspci:{{ identifier }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#synonym-table").DataTable();
        })
    </script>
{% endblock %}

{% block content %}
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-header">
            <h4>
                {{ name }}
                <small class="text-muted">lspci:{{ row.lspci_id }}</small>
            </h4>
            <span class="badge badge-info">Max Phase: {{ row.max_phase }}</span>
            {% if row.commercially_available == 'TRUE' %}
                <span class="badge badge-info">Commercially available</span>
            {% endif %}
        </div>
        <div class="card-body">

            <img alt="Depiction of molecule" src="https://cactus.nci.nih.gov/chemical/structure/{{ inchi }}/image">
            <p>
                <code>{{ inchi }}</code>
            </p>
            {% if xrefs %}
                <h5 class="card-title">Cross References</h5>
                <table class="table table-striped table-hover" id="table-terms">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Prefix</th>
                        <th>Identifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for xref_prefix, xref_name, xref_homepage, xref_id in xrefs %}
                        <tr>
                            <td>
                                {% if xref_homepage %}
                                    <a href="{{ xref_homepage }}">{{ xref_name }}</a>
                                {% else %}
                                    {{ xref_name }}
                                {% endif %}
                            </td>
                            <td><code>{{ xref_prefix }}</code></td>
                            <td>
                                <a href="https://bioregistry.io/{{ xref_prefix }}:{{ xref_id }}">{{ xref_id }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if synonyms %}
                <h5 class="card-title">Synonyms</h5>
                <table class="table table-striped table-hover" id="synonym-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Priority</th>
                        <th>Source</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for source, priority, name in synonyms %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ priority }}</td>
                            <td>{{ source }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
